<h2>Comments </h2>

<div id="comments">
<%# Expands to render partial "comments/comment", collection: project.comments %>
<%= render project.comments %>

</div>

<%= render "comments/new", project: project %>